---
import { ENV } from "varlock/env";
---

<table>
  <thead>
    <tr>
      <th>key</th>
      <th>import.meta.env.&lcub;key&rcub;</th>
      <th>ENV.&lcub;key&rcub;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>APP_ENV</td>
      <td>{import.meta.env.APP_ENV}</td>
      <td>{ENV.APP_ENV}</td>
    </tr>
    <tr>
      <td>PUBLIC_FOO</td>
      <td>{import.meta.env.PUBLIC_FOO}</td>
      <td>{ENV.PUBLIC_FOO}</td>
    </tr>
    <tr
      ><td>ITEM1</td>
      <td>{import.meta.env.ITEM1}</td>
      <td>{ENV.ITEM1}</td></tr
    >
    <tr
      ><td>VITE_ITEM1</td>
      <td>{import.meta.env.VITE_ITEM1}</td>
      <td>{ENV.VITE_ITEM1}</td></tr
    >
    <tr>
      <td>VITE_ENV_SPECIFIC_ITEM</td>
      <td>{import.meta.env.VITE_ENV_SPECIFIC_ITEM}</td>
      <td>{ENV.VITE_ENV_SPECIFIC_ITEM}</td>
    </tr>
    <tr>
      <td>ENV_SPECIFIC_ITEM</td>
      <td>{import.meta.env.ENV_SPECIFIC_ITEM}</td>
      <td>{ENV.ENV_SPECIFIC_ITEM}</td>
    </tr>
    <tr>
      <td>SECRET_FOO</td>
      <td>
        ❌ triggers leak error
        <!-- {import.meta.env.SECRET_FOO} -->
      </td>
      <td>
        ❌ triggers leak error
        <!-- {ENV.SECRET_FOO} -->
      </td>
    </tr>
    <tr>
      <td>BAD_KEY</td>
      <td>{import.meta.env.BAD_KEY || "_empty_"}</td>
      <td>
        ❌ triggers bad key error
        <!-- {ENV.BAD_KEY} -->
      </td>
    </tr>
  </tbody>
</table>
